body {
  background-color: lightgray;
  padding: 0%;
  margin: 0%;
}

.box {
  background-color: #131418;
  padding-top: 20px;
  margin-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  color: rgb(255, 254, 254);
  text-align: center;
  font-size: 28px;
}

.heading {
  font-size: 70px !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dayLight {
  background-color: #fffb11;
  padding-bottom: 35px;
  margin-bottom: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
}

.btn-secondary {
  font-size: 25px;
  margin: 10;
  cursor: pointer;
}

.btn {
  margin: 10;
  font-size: 25px;
  cursor: pointer;
}

.handle {
  background-color: #e68608;
  padding-top: 25px;
  padding-bottom: 28px;
}

.headHandle {
  font-size: 50px;
}

.form {
  background-color: rgb(12, 155, 78);
  padding: 30px;
  margin: 26px;
  text-align: left !important;
}

.btn-dark {
  font-size: 25px;
  cursor: pointer;
  margin-left: 7px !important;
}

.space {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 6px;
  margin-bottom: 6px;
}